#Check-Kun
#
#Copyright (c) 2022~Present Nakatai.
#
#This software is released under the MIT License.
#https://opensource.org/licenses/mit-license.php

# EditorConfig is awesome: https://EditorConfig.org
# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true

[*.yml]
indent_size = 2
